name: Deploy release
on:
  release:
    types: [ published ]
jobs:
  docker-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            .gradle/configuration-cache
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Set up JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: temurin
          java-version: 21
      - name: Build jar
        run: ./gradlew assemble --no-daemon
      - name: Build docker image
        run: |
          cd app
          TAG_NAME=${GITHUB_REF#"refs/tags/"}
          docker build -t github-notifications-cleaner \
            --label="org.opencontainers.image.version=$TAG_NAME" \
            --label="org.opencontainers.image.revision=$GITHUB_SHA" \
            --label="org.opencontainers.image.created=$(date +'%Y-%m-%dT%H:%M:%S')" \
            .
      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
      - name: Publish docker images
        run: |
          TAG_NAME=${GITHUB_REF#"refs/tags/"}
          # strip "v" prefix from tag name
          TAG_NAME=$(echo $TAG_NAME | sed -e 's/^v//')
          echo "Publishing image to ghcr.io/twinklehawk/github-notifications-cleaner:$TAG_NAME"
          docker tag github-notifications-cleaner ghcr.io/twinklehawk/github-notifications-cleaner:$TAG_NAME
          docker tag github-notifications-cleaner ghcr.io/twinklehawk/github-notifications-cleaner:latest
          docker push ghcr.io/twinklehawk/github-notifications-cleaner:$TAG_NAME
          docker push ghcr.io/twinklehawk/github-notifications-cleaner:latest
